# parallel make, ccache
BR2_JLEVEL=14
BR2_CCACHE=y
BR2_CCACHE_DIR="/tmp/buildroot-ccache-$(BR2_ARCH)"

# enable overlay support (used for custom init scripts)
BR2_ROOTFS_OVERLAY="overlay"

# need cpio for initramfs
BR2_TARGET_ROOTFS_CPIO=y
BR2_TARGET_ROOTFS_CPIO_GZIP=y
# compress the tar image
BR2_TARGET_ROOTFS_TAR_XZ=y
# selinux enabled kernels can't use CPIO (no extended attributes, nead "real" filesystem)
BR2_TARGET_ROOTFS_EXT2=y
# ...compressed
BR2_TARGET_ROOTFS_EXT2_XZ=y

# don't run a getty; etc/inittab configured for auto-root login
BR2_TARGET_GENERIC_GETTY=n

# ssh needed for ARM workload-automation
BR2_PACKAGE_DROPBEAR=y

# Testing utils
BR2_PACKAGE_STRESS=y
BR2_PACKAGE_TRACE_CMD=y

# add eudev for automatic module loading support
BR2_INIT_BUSYBOX=y
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_EUDEV=y

# misc. tools
BR2_PACKAGE_PCIUTILS=y

# ensure older kernel support (v3.2 is oldest as of 2016.05)
# NOTE: arm64 only exists as of v3.10
BR2_KERNEL_HEADERS_3_10=y

# ensure older compiler support (needed?)
BR2_TOOLCHAIN_GCC_AT_LEAST_4_8=y

# purge locales to reduce rootfs size
BR2_ENABLE_LOCALE_PURGE=y
BR2_ENABLE_LOCALE_WHITELIST="C en_US"

# fs utils
BR2_PACKAGE_E2FSPROGS=y
