# ext2 might grow bigger than default (60M)
BR2_TARGET_ROOTFS_EXT2_SIZE="200M"

# Testing utils
BR2_PACKAGE_LTP_TESTSUITE=y
BR2_PACKAGE_LMBENCH=y

# Testing utils rt-tests to enable cyclictest and hackbench
BR2_PACKAGE_RT_TESTS=y

# needed for in-kernel kselftests (compile-time and runtime)
BR2_PACKAGE_POPT=y
